@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 index-h1">Bem vindo ao Hungryless, um aplicativo inovador no tratamento de desperdício de alimentos.</h1>
    <p class="index-p">Para ter acesso a lista de Insumos, por favor faça o seu </p><br />
    <p class="index-p2"><a class="btn btn-primary">Login</a> ou <a class="btn btn-success">Cadastre-se</a></p>
</div>
